<h2 class="home__item" style="margin:0;">안녕하세요!</h2> <hr>
  <ul>
    <li>이 블로그는 주로 제가 공부한 내용을 기록하고, 공유하기 위한 장소입니다. </li>
    <li>More About Me : <a href="/about-me/">[Link]</a></li>
    <li>More About This Blog : <a href="/about-blog/">[Link]</a></li>
  </ul> 
  <br/>


<h2 class="home__item" style="margin:0;">Statistics</h2> <hr>
  {% assign totalwords = 0 %}
  {% assign postcount = 0 %}
  {% for post in site.posts %}
    {% assign words = post | strip_html | number_of_words %}
    {% assign totalwords = totalwords | plus : words %}
    {% assign postcount = postcount | plus : 1 %}
  {% endfor %}
  {% for post in site.pages %}
    {% assign words = post | strip_html | number_of_words %}
    {% assign totalwords = totalwords | plus : words %}
    {% assign postcount = postcount | plus : 1 %}
  {% endfor %}
 
  <ul>
    <li>블로그 페이지 수 : {{ postcount }} Posts ({{ "now" | date: "%Y-%m-%d" }})</li>
    <li>블로그 페이지들의 단어 수 총합 : {{ totalwords }} Words ({{ "now" | date: "%Y-%m-%d" }})</li>
    <li>블로그 페이지들의 페이지뷰 총합 : <span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span></span> Times (Since 2021-08-13, Pageview since 2021-09-19)</li>
  </ul> 
  <br/>


<h2 class="home__item" style="margin:0;">주요 링크</h2> <hr>
  <div class="row">
    <div class="column">
      <h3 style="margin:0;">주제별 / 과목별 노트</h3>
      <ul>
        <li><a href="/cs-adventure/">CS 논문읽기</a></li>
        <li><a href="/find-contest/">알고리즘 문제풀이 : 출처별로 보기</a></li>
        <li><a href="/ds-alg-note/">자료구조 & 알고리즘</a></li>
        <li><a href="/ds-alg-advanced/">고급 자료구조 & 알고리즘</a></li>
        <li><a href="/deep-learning-study/">딥러닝 공부노트</a></li>
      </ul></div>
    <div class="column">
      <h3 style="margin:0;">공부 기록</h3>
      <ul>
        <li><a href="/study-log-math/">수학 공부 로그</a></li>
        <li><a href="/ps-teatime/">PS Teatime</a></li>
        <li><a href="/categories/#ps-weekly">Weekly PS</a></li>
        <li><a href="/categories/#cp-rounds">Competitive Programming</a></li>
      </ul></div>
    <div class="column">
      <h3 style="margin:0;">기타</h3>
      <ul>
        <li><a href="/about-me/">About me</a></li>
        <li><a href="https://gratus907.com/">Tistory Blog</a></li>
        <li>전공과목 후기 <a href="/snu-courses/SNU-courses-CS/">[컴공]</a> <a href="/snu-courses/SNU-courses-MATH/">[수리]</a></li>
      </ul></div>
  </div>
  <br/>