---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
$sans-serif: 'Noto Sans KR';
$monospace: 'Ubuntu Mono';
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

.page__content p {
    margin: 0.75em 0 0.75em 0;
}
html {
    font-size: 12px; // change to whatever

    @include breakpoint($medium) {
      font-size: 14px; // change to whatever
    }

    @include breakpoint($large) {
      font-size: 16px; // change to whatever
    }

    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
}

.highlight {
    font-family: $monospace;
    font-size: $type-size-4-5;
}

.highlight .kt {
    color : #ff00ff;
    font-weight: bold;
}

.highlight .p{
    color: #ffffff;
}
.highlight .n {
    color: #ffffff;
}
.highlight .k {
    color : #ff00ff;
    font-weight: bold;
}
.highlight .nf {
    color : #ff7f00;
}

.highlight .mi {
    color : #ffff00;
}

.language-plaintext {
    font-family: $monospace;
    font-size: $type-size-5;
    background: #c0ffee;
}

.inner {
    max-width: 75%;
}

.page {
    padding-right: 0px;
    line-height: 1.8;
}

table {
    width: 80%;
    display: table;
    font-size: 15px;
}

a {
    color : #000000;
}

a:visited {
    color : #000000;
}

.language-plaintext{
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    background: #ffffff;
}

#markdown-toc {
    margin-block-start : 0.2em;
    margin-block-end : 2em;
}

#toc {
    line-height: 1.2;
    font-weight: bold;
    font-size:   1.25em;
    margin: 1.5em 0em 0.5em 0em;
}

div.highlighter-rouge, figure.highlight {
    color : #ffffff;
}

.pseudocode {
    background-color : #dddddd;
    border-style: groove;
    padding : 0.5em;
    font-weight: 500;
    font-family: "Lucida Console";
}

fieldset {
    padding:0;
    border-width:0px;
    margin: 0 0 0.5em 0;
}

legend {
    font-family: "Lucida Console";
}

.nav__items {
    line-height: 2;
}
.sidebar p, .sidebar li {
    line-height: 2;
}

p>code:before, p>code:after, a>code:before, a>code:after, li>code:before, li>code:after, figcaption>code:before, figcaption>code:after, td>code:before, td>code:after {
    content: "\00a0";
}

p>code:before, p>code:after, a>code:before, a>code:after, li>code:before, li>code:after, figcaption>code:before, figcaption>code:after, td>code:before, td>code:after {
    letter-spacing: -0.45em;
    content: "\00a0";
}

.sidebar {
    width: calc(250px - 1em);
}

#postlist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#postlist li {
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
    cursor: pointer;
}

#postlist li:hover {
    background-color: #ffeeee;
}

.column {
    float: left;
    width: 33.33%;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.archive {
    padding-right: 0px;
}