---
layout: default
---

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  
  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

<div class="archive">
    
  {% include home_list.html %}
  <h2 class="home__item" style="margin:0;">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2> <hr>


  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% assign maxpost = 5 %}
    {% assign counter = 0 %}
    {% for post in posts %}
      {% include archive-single.html type=entries_layout %}
      {% assign counter = counter | plus: 1 %}
      {% if counter == maxpost %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  {% include paginator.html %}

</div>
  

</div>